{% load static %}
{% include '../header.html' %}



<h2>Добавить книгу</h2>

<form method="post" class="book-form">
    {% csrf_token %}

    <label for="title">Название:</label>
    <input type="text" id="title" name="title" placeholder="Введите название" required>

    <label for="author">Автор:</label>
    <input type="text" id="author" name="author" placeholder="Введите автора" required>

    <button type="submit">Сохранить</button>
</form>

<style>
    .book-form {
        width: 350px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input {
        padding: 8px;
        border: 1px solid #bbb;
        border-radius: 5px;
    }
    button {
        padding: 10px;
        background: #3478f6;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background: #1f5fd1;
    }
</style>


{% include '../footer.html'%}